<!DOCTYPE html>
<html>
    <head>
        <title>Warwait</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../style/warwait.css">
        <script src="../script/warwait_script.js"></script>
    </head>
    <body>
        <div id='mainContainer'>
            <div id="container">
                <form action="warwait.php" method="get" id="week">
                    <input type="number" name="semaine" min="1" max="52"/>
                </form> 
                <div class="plus" id="plus"><p></p></div>
                <div class="moins" id="moins"><p></p></div>
            </div>
            <div id="nb-week-box">
                <h1>la warwait</h1> 
                <form action="warwait.php" method="get" id="nb_week">
                    <input type="number" id="nbsem" name ="nbsem" placeholder ="Combien de semaines ?" min="5" max ="13" />
                </form>
            </div>

            <div id="search-box">
                <form action = "warwait.php" method = "get" id="search">
                <input type = "search" name = "searched" placeholder="    Rechercher">
                <input type = "submit" name = "searched-btn" value = "">
            </div>
            </form>
        </div>
        

    </body>
</html>

<!-- let a = await fetch('warwait.php',{
    method:'PUT',
    headers : {
        'Content-Type': 'application/json',
    },
    body : JSON.stringify({
        nom : 'NIYONSABA Victor',
        semaine : 's6',
        value : 'mission'
    })
})

let b = a.json(); -->